.titulo{
    color: rgb(11, 15, 19);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 50px;
    font-style: oblique;
    margin-top: 150px;
    margin-left: 770px;
} 